<<h1>{{pirates.name}}</h1>
<<h1><b>Pirate Show Page</b></h1>
<ul>
    <li>Name: {{pirates.name}}</li>
    <li>Birthplace: {{pirates.Birthplace}}</li>
    <li>Death Year: {{pirates.death_year}}</li>
    <li>Base: {{pirates.base}}</li>
    <li>Nickname: {{pirates.Nickname}}</li>
</ul>